<table border="1">
    <thead>
    <tr>
        <th>Date diff</th>
        <th>Open price diff</th>
        <th>Close price diff</th>
        <th>Max price diff</th>
        <th>Min price diff</th>
    </tr>
    </thead>
{% for item in data %}
    <tr>
        <td>{{ item.date_range }}</td>
        <td>{{ item.open_price.prev_data }} - {{ item.open_price.next_data }} ({{ item.open_price.diff }})</td>
        <td>{{ item.close_price.prev_data }} - {{ item.close_price.next_data }} ({{ item.close_price.diff }})</td>
        <td>{{ item.max_price.prev_data }} - {{ item.max_price.next_data }} ({{ item.max_price.diff }})</td>
        <td>{{ item.min_price.prev_data }} - {{ item.min_price.next_data }} ({{ item.min_price.diff }})</td>
    </tr>
{% endfor %}
</table>