<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Relation</th>
            <th>Last date</th>
            <th>Transaction type</th>
            <th>Owner type</th>
            <th>Shares traded</th>
            <th>Last price</th>
            <th>Shares held</th>
        </tr>
    </thead>
{% for insider in insider_data.all %}
    <tr>
        <td><a href="./insider/{{ insider.name.lower }}">{{ insider.name }}</a></td>
        <td>{{ insider.relation }}</td>
        <td>{{ insider.last_date }}</td>
        <td>{{ insider.transaction_type }}</td>
        <td>{{ insider.owner_type }}</td>
        <td>{{ insider.shares_traded }}</td>
        <td>{{ insider.last_price }}</td>
        <td>{{ insider.shares_held }}</td>
    </tr>
{% endfor %}
</table>