<a href="./insider">Чо по продажам нынче?</a>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Open price</th>
            <th>Close price</th>
            <th>Max price</th>
            <th>min price</th>
            <th>Volume</th>
        </tr>
    </thead>
{% for price in prices.all %}
    <tr>
        <td>{{ price.date }}</td>
        <td>{{ price.open_price }}</td>
        <td>{{ price.close_price }}</td>
        <td>{{ price.max_price }}</td>
        <td>{{ price.min_price }}</td>
        <td>{{ price.volume }}</td>
    </tr>
{% endfor %}
</table>